<div class="row">
    <div class="card text-white bg-primary  m-sm-1 m-md-3 m-0">

        <div class="card-header">
            <div class="conteiner  ">
                <div class="row">
                    <div class="col-md">
                        <div class="conteiner">
                            <div class="rowr" style=" font-size: smaller; ">
                                <p class="ml-3  ">Após Concluir o pagamento favor enviar o
                                    comprovante clicando no botão ou pelo email <b
                                        class="font-weight-bold">{{pagamentos[0].email}}</b>, ou instagram
                                    <b class="font-weight-bold">{{pagamentos[0].instagram}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md" *ngIf="pedido.comprovante===undefined">

                        <label _ngcontent-qki-c113="" class="btn btn-light p-1  " style="float: center;"> <input
                                type="file" id="file" (change)="handleFileInput($event.target.files)" hidden>
                            <h6 _ngcontent-qki-c113="" class="ml-3" style="
                            float: left;
                        ">Anexar comprovante</h6><i class="fa fa-paperclip pl-2"
                                style="font-size: 22px;float: right;"></i>
                        </label>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle p-1  " type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alterar Forma de Pagamento
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" *ngFor="let i of pagamentos "
                                    (click)="seleciona(i.carteira)">{{i.carteira}}</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md" *ngIf="pedido.comprovante!==undefined">
                        <div class="btn btn-primary p-1 mx-auto d-block "><a class="h6 text-white pr-2"
                                [href]="pedido.comprovante">{{getname(pedido.comprovante)}}</a> <button
                                class="btn btn-link text-white p-0 pb-1" (click)="clear()"><i
                                    class="fas fa-trash-alt"></i></button> </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="card-body p-3">
            <div class="conteiner">
                <div class="row" *ngFor="let i of pagamentos; let ix = index">
                    <div class="col p-2" *ngIf="i.carteira==pagSelecionado">


                        <div class="container" *ngIf="i.carteira=='Pix' || i.carteira=='PicPay'">
                            <div class="row rounded" style="background-color: white; ">
                                <a class="col-5 p-0" (click)="redirect(i.link,i.chave)">
                                    <img class="  m-3" style="max-width: 100px;" src="{{i.qrcode}}">
                                </a>

                                <div class="col text-right">
                                    <div class="mt-3 mb-0 text-center pb-1"
                                        style="border: 1px solid #ffe0e0;  border-radius: 5px;">
                                        <div class="d-inline pl-2" style="color: darkcyan; font-size: 12px;">{{i.chave}}
                                        </div>
                                    </div>
                                    <div class="mt-1 ml mb-0 text-center"
                                        style="border: 1px solid #ffe0e0; padding: 3px; border-radius: 5px; font-size: 12px;">
                                        <i class="far fa-money-bill-alt pr-2 d-inline ml-2" style="color: gray;"></i>
                                        <div class="d-inline" style="color: darkcyan;"> {{toreal(i.total)}}
                                        </div>
                                    </div><img style="max-width: 100px; padding: 15px;  " src="{{i.logocarteira}}">
                                </div>

                            </div>
                        </div>

                        <div class="container" *ngIf="i.carteira!='Pix'&&i.carteira!='PicPay'">
                            <div class="row rounded" style="background-color: white; ">
                                <div class="container pt-2 pb-2" *ngIf="!i.carteira.includes('transf')">
                                    <div class="row">
                                        <a class="col-4 p-0" (click)="redirect(i.link,i.chave)">
                                            <img class="  m-3" style="max-width: 100px;" src="\assets\bol.png">
                                        </a>
                                        <div class="col " style="font-size: smaller; color: gray;">
                                            <p>Olá enviaremos um boleto referente a esta compra para o email <b
                                                    class="font-weight-bold">{{i.email_boleto}}</b>, dentro de 24 horas!
                                            </p>
                                            <b>Obrigado!</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">

                                    <div class="container " *ngIf="i.carteira.includes('transf')">
                                        <div class="row">
                                            <h6 class="text-center">{{i.carteira}}</h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 p-0">
                                                <span>Agência:</span>
                                            </div>
                                            <div class="col p-0">
                                                <span>{{i.ag}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 p-0">
                                                <span>Conta:</span>
                                            </div>
                                            <div class="col p-0">
                                                <span>{{i.ct}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 p-0">
                                                <span>CPF:</span>
                                            </div>
                                            <div class="col p-0">
                                                <span>{{i.cpf}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 p-0">
                                                <span>Nome:</span>
                                            </div>
                                            <div class="col p-0">
                                                <span>{{i.nome}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>