<div class="container pr-xl-0">
    <div class="row shadow-sm p-2 mb-2  mb-2 mr-lg-0 mr-xl-0 mr-xxl-0 mr-sm-2 mr-md-2 rounded " style="background-color: aliceblue;">


        <div class="col-xs">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class=" btn btn-link p-0 m-0" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
                    <fa-icon [icon]="faSort"></fa-icon>
                    Ordenar
                </button>
                <div ngbDropdownMenu aria-labelledby="triggerId">
                    <button ngbDropdownItem (click)="onSortSelect(1)">Preço</button>
                    <button ngbDropdownItem (click)="onSortSelect(2)">Estoque</button>
                    <button ngbDropdownItem (click)="onSortSelect(3)">Classe</button>
                    <button ngbDropdownItem (click)="onSortSelect(4)">Popularidade</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container bg-white text-center" *ngIf="recipes_orig.length==0" style=" min-height: calc(100vh - 50px);">
    <span class="spinner-border spinner-border-sm mr-1 loader mt-5"></span>
</div>
<!-- 
<div class="container p-0 pr-sm-2 pr-md-2 pr-xl-0">
    <div class="row m-0">
        <div class="col">
            <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="quites">
                <ngu-tile *nguCarouselDef="let r; let ir = index; let ani = animate">  
                    <div class="view overlay" style="position: relative !important;">
                        <img [src]="r.url" alt="" class="img-responsive" [class]="deviceType=='lg' || deviceType=='xl'?'kixl':deviceType!='sm'?'kimd':'kism'" >
                        <div class="mask   text-center" [ngClass]="r.qt >0?'rgba-blue-strong':'rgba-red-strong'">
                            <p class="white-text pt-2">{{r.SKU}}</p>
                            <p class="white-text" *ngIf="r.qt >0">Estoque:{{r.qt}}</p>
                            <p class="white-text" *ngIf="r.qt <=0">Indisponível</p>
                        </div>
                    </div>
                    <div class="row m-0 p-2 bg-wihte">
                        <p class="list-group-item-text text-center text-truncate bg-wihte col-8 p-0"
                            style=" color: rgb(70, 70, 70);">
                           <del>{{r.de}}</del>  {{r.valor}}</p>
                        <button class=" btn btn-primary col-4 p-0 m-0" [disabled]=" r.qt <=0"
                            (click)="onAddCart(r)">
                            <fa-icon [icon]="faShoppingCart" class="" ></fa-icon>
                        </button>
                    </div>
                </ngu-tile>
               
                <a NguCarouselPrev class="leftRs btn-floating waves-effect waves-light ca" [style.opacity]="myCarousel.isFirst ? 0.5:1" ><i class="fas fa-chevron-left"></i></a> 
                <a NguCarouselNext class="rightRs btn-floating waves-effect waves-light ca" [style.opacity]="myCarousel.isLast ? 0.5:1"  ><i class="fas fa-chevron-right"></i></a> 
              
                <ul class="myPoint" NguCarouselPoint>
                  <li *ngFor="let i of myCarousel.pointNumbers; let ix = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
                </ul>
              </ngu-carousel>
            
        </div>
    </div>
</div>
 -->

<div class="container  " *ngFor="let recipes of classes; let ii = index">
    <div class="row" *ngIf="recipes.length>0 && classes.length>1">
        <div class="col">
            <div class="separator">{{getclass(classes,ii) }}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs" *ngFor="let r of recipes; let i = index">

            <div  href="#" class="list-group-item clearfix p-0 m-1 shadow-sm rounded-lg"
                style="border: 0px !important; overflow: hidden; ">
                <div class="view overlay" style="position: relative !important;">
                    <img [src]="r.url" alt="" class="img-responsive" style="height: 110px;width: 110px;">
                    <div class="mask   text-center" [ngClass]="r.qt >0?'rgba-blue-strong':'rgba-red-strong'">
                        <p class="white-text pt-2">{{r.SKU}}</p>
                        <p class="white-text" *ngIf="r.qt >0">Estoque:{{r.qt}}</p>
                        <p class="white-text" *ngIf="r.qt <=0">Indisponível</p>
                    </div>
                </div>
                <div class="row m-0 p-0 bg-success">
                    <p class="list-group-item-text text-center text-truncate bg-primary col-8 p-0"
                        style=" color: white;">
                        {{r.valor}}</p>
                    <button class=" btn btn-link  bg-success col-4 p-0 m-0" [disabled]=" r.qt <=0"
                        (click)="onAddCart(r)">
                        <fa-icon [icon]="faShoppingCart" class="" style="color: white;"></fa-icon>
                    </button>
                </div>
            </div>
            
        </div>

    </div>

</div>